<p id="notice"><%= notice %></p>

<%= react_component "EncountersShow", props: { patient: @patient, encounter: @encounter } %>

<%= link_to 'Edit', edit_patient_encounter_path(@patient, @encounter) %> |
<%= link_to 'Back', patient_path(@patient) %>
